<div class="card">
  <p-menubar>
    <ng-template pTemplate="start">
      <div class="flex align-items-center gap-2">
        <p-button
          icon="pi pi-bars"
          [rounded]="true"
          [text]="true"
          (onClick)="toggleSidebarEvent.emit()"
        />
      </div>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="card flex justify-content-center">
        <p-menu #menu [model]="items" [popup]="true" />
        <p-button [rounded]="true" [text]="true" (onClick)="menu.toggle($event)" icon="pi pi-user"/>
      </div>
    </ng-template>

  </p-menubar>
</div>
