<div *ngIf="formularioEstructura">
  <h3>Ficha de formulario</h3>
  <div>
    <p><b>Nombre: </b>{{ formularioEstructura.nombre }}</p>
    <p><b>Periodo: </b>{{ formularioEstructura.periodo.nombre }}</p>
    <p><b>Dependencia evaluada: </b>{{ formularioEstructura.dependencia.nombre }}</p>
    <p><b>Vigente : </b>
      <p-tag [value]="formularioEstructura.vigente ? 'ACTIVO' : 'INACTIVO'"
             [severity]="getSeverity(formularioEstructura.vigente)"/>
    </p>
  </div>
  <p-tabView>
    <p-tabPanel header="General">
      <div>
        <h4>Parámetros generales</h4>
        <div class="card flex justify-content-center">
          <p-inputSwitch
            (onChange)="onHabilitarEdicion($event)"
          />
        </div>
        <form [formGroup]="formularioEstructuraForm">
          <p-floatLabel>
            <input
              formControlName="nombre"
              pInputText
              id="nombre"
              [ngClass]="{
            'ng-dirty ng-invalid':  nombre?.invalid || nombre?.dirty,
            }"
            />
            <label for="nombre">Nombre</label>
          </p-floatLabel>
          <p-floatLabel>
            <p-dropdown
              formControlName="periodo"
              inputId="periodo"
              id="periodo"
              [options]="periodos"
              optionLabel="nombre"
              optionValue="id"
            />
            <label for="periodo">Periodos</label>
          </p-floatLabel>

          <p-floatLabel>
            <p-dropdown
              formControlName="dependencia"
              inputId="dependencias"
              id="dependencias"
              filterBy="nombre"
              [filter]="true"
              [options]="dependencias"
              optionLabel="nombre"
              optionValue="id"
            />
            <label for="dependencias">Dependencia evaluada</label>
          </p-floatLabel>
          <p-floatLabel>
            <p-dropdown
              formControlName="vigencia"
              inputId="vigencia"
              id="vigencia"
              [options]="vigencias"
              placeholder="Vigencia">
            </p-dropdown>
            <label for="vigencia">Vigencia</label>
          </p-floatLabel>
        </form>
        <p-button
          label="Guardar cambios"
          icon="pi pi-save"
          (click)="onGuardarFormulario()"
          [disabled]="formularioEstructuraForm.invalid || formularioEstructuraForm.disabled"
        ></p-button>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Diseño">
      <div>
        <div class="card">
          <div class="menu-orden-container">
            <p-button
              *ngIf="habilitarBotonGuardarOrdenGrupoPreguntas"
              label="Guardar orden"
              icon="pi pi-save"
              (click)="onGuardarOrdenGrupos()"
            ></p-button>
          </div>
          <p-toast></p-toast>
          <p-table
            [value]="formularioEstructura.gruposPreguntaEstructura"
            [tableStyle]="{ 'min-width': '60rem' }"
            (onRowReorder)="onRowReorderGrupoEstrcutura($event)"
            dataKey="id"
          >
            <ng-template pTemplate="header">
              <tr>
                <th style="width:3rem"></th>
                <th style="width:3rem"></th>
                <th *ngFor="let col of columnasGrupoPreguntaEstructura">
                  {{ col }}
                </th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-grupoPreguntaEstructura
              let-expanded="expanded"
              let-index="rowIndex"
            >
              <tr [pReorderableRow]="index">
                <td>
                  <span class="pi pi-bars" pReorderableRowHandle></span>
                </td>
                <td>
                  <p-button
                    type="button" pRipple [pRowToggler]="grupoPreguntaEstructura"
                    [text]="true"
                    [rounded]="true"
                    [plain]="true"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"/>
                </td>
                <td>{{ grupoPreguntaEstructura.id }}</td>
                <td>{{ grupoPreguntaEstructura.nombre }}</td>
                <td>
                  <div class="flex-container">
                    <p-tag
                      [value]="grupoPreguntaEstructura.orden"
                      severity="info"/>
                    <p-tag
                      styleClass="ml-2"
                      *ngIf="(index + 1) !== grupoPreguntaEstructura.orden"
                      [value]="index + 1"
                      severity="danger"/>
                  </div>
                </td>
                <td class="flex-container">
                  <p-button
                    icon="pi pi-pencil"
                    [rounded]="true"
                    severity="success"
                    (click)="onEditarGrupoPreguntaEstructura(grupoPreguntaEstructura)"
                  ></p-button>
                  <p-button
                    icon="pi pi-trash"
                    severity="danger"
                    [rounded]="true"
                    (click)="onEliminarGrupoPreguntaEstructura(grupoPreguntaEstructura)"
                  ></p-button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-grupoPreguntaEstructura>
              <tr>
                <td colspan="5">
                  <div class="p-3">
                    <div class="menu-orden-container">
                      <p-button
                        *ngIf="habilitarBotonGuardarOrdenPreguntas"
                        label="Guardar orden"
                        icon="pi pi-save"
                        (click)="onGuardarOrdenPreguntas(grupoPreguntaEstructura)"
                      ></p-button>
                    </div>
                    <p-toast></p-toast>
                    <p-table
                      [value]="grupoPreguntaEstructura.preguntasFormularioEstructura"
                      dataKey="grupoPreguntaEstructura.id"
                      (onRowReorder)="onRowReorderPreguntaFormularioEstructura($event   , grupoPreguntaEstructura.id )"
                    >
                      <ng-template pTemplate="header">
                        <tr>
                          <th style="width:3rem"></th>
                          <th style="width:3rem"></th>
                          <th *ngFor="let col of columnasPreguntasFormularioEstructura">
                            {{ col }}
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template
                        pTemplate="body"
                        let-preguntaFormularioEstructura
                        let-expanded="expanded"
                        let-indexPregunta="rowIndex"
                      >
                        <tr [pReorderableRow]="indexPregunta">
                          <td>
                            <span class="pi pi-bars" pReorderableRowHandle></span>
                          </td>
                          <td>
                            <p-button
                              type="button" pRipple [pRowToggler]="preguntaFormularioEstructura"
                              [text]="true"
                              [rounded]="true"
                              [plain]="true"
                              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"/>
                          </td>
                          <td>{{ preguntaFormularioEstructura.id }}</td>
                          <td>{{ preguntaFormularioEstructura.nombre }}</td>
                          <td>
                            <div class="flex-container">
                              <p-tag
                                [value]="preguntaFormularioEstructura.orden"
                                severity="info"/>
                              <p-tag
                                *ngIf="(indexPregunta + 1) !== preguntaFormularioEstructura.orden"
                                [value]="indexPregunta + 1"
                                severity="danger"/>
                            </div>
                          </td>
                          <td class="flex-container">
                            <p-button
                              icon="pi pi-pencil"
                              [rounded]="true"
                              severity="success"
                              (click)="onEditarPreguntaFormularioEstructura(preguntaFormularioEstructura)"
                            ></p-button>
                            <p-button
                              icon="pi pi-trash"
                              severity="danger"
                              [rounded]="true"
                              (click)="onEliminarPreguntaFormularioEstructura(preguntaFormularioEstructura)"
                            ></p-button>
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="rowexpansion" let-preguntaFormularioEstructura>
                        <tr>
                          <td colspan="4">
                            <div class="p-3">
                              <p-toast></p-toast>
                              <div class="menu-orden-container">
                                <p-button
                                  *ngIf="habilitarBotonGuardarOrdenOpciones"
                                  label="Guardar orden"
                                  icon="pi pi-save"
                                  (click)="onGuardarOrdenOpciones(preguntaFormularioEstructura)"
                                ></p-button>
                              </div>
                              <p-table
                                [value]="preguntaFormularioEstructura.opcionesEstructura"
                                dataKey="id"
                                (onRowReorder)="onRowReorderOpcionEstructura($event,grupoPreguntaEstructura.id, preguntaFormularioEstructura.id)"
                              >
                                <ng-template pTemplate="header">
                                  <tr>
                                    <th style="width:3rem"></th>
                                    <th *ngFor="let col of columnasOpcionesEstructura">
                                      {{ col }}
                                    </th>
                                  </tr>
                                </ng-template>
                                <ng-template
                                  pTemplate="body"
                                  let-opcionEstructura
                                  let-indexOpcion="rowIndex"
                                >
                                  <tr [pReorderableRow]="indexOpcion">
                                    <td>
                                      <span class="pi pi-bars" pReorderableRowHandle></span>
                                    </td>
                                    <td>{{ opcionEstructura.id }}</td>
                                    <td>{{ opcionEstructura.nombre }}</td>
                                    <td>{{ opcionEstructura.peso }}</td>
                                    <td>
                                      <div class="flex-container">
                                        <p-tag
                                          [value]="opcionEstructura.orden"
                                          severity="info"/>
                                        <p-tag
                                          *ngIf="(indexOpcion + 1) !== opcionEstructura.orden"
                                          [value]="indexOpcion + 1"
                                          severity="danger"/>
                                      </div>
                                    </td>
                                    <td class="flex-container">
                                      <p-button
                                        icon="pi pi-pencil"
                                        [rounded]="true"
                                        severity="success"
                                        (click)="onEditarOpcionEstructura(opcionEstructura)"
                                      ></p-button>
                                      <p-button
                                        icon="pi pi-trash"
                                        severity="danger"
                                        [rounded]="true"
                                        (click)="onEliminarOpcionEstructura(opcionEstructura)"
                                      ></p-button>
                                  </tr>
                                </ng-template>
                              </p-table>
                            </div>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

      </div>
    </p-tabPanel>

  </p-tabView>
</div>
